
.form__input,
.form__textarea{
    box-sizing: border-box;
    padding: 1.15rem 1.5rem;
    width: 100%;
}

.form__label {
    color: $primary-dark;
    display: block;
    font-weight: 400;
    letter-spacing: 0;
    padding-bottom: 0.75rem;
}

.btn{
    border-radius: 0.3125rem;
    box-shadow: -6px 8px 20px rgb(0 0 0 / 10%);
    cursor: pointer;
    display: inline-block;
    font-family: Segoe UI,sans-serif;
    font-weight: 700;
    outline: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    white-space: nowrap;
    z-index: 100;
}

.btn_normal{
    font-size: .9rem;
    height: 65px;
    line-height: 1.5rem;
    min-width: 130px;
    padding: 19.5px 26px;
}

.btn_purple{
    background-color: #5705cd;
    color: #fff;
}