*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-size: $font-size-normal;
    font-weight: $font-weight-regular;
    font-family: $page-font;
}

h1,h2,h3,h4,h5,h6,p,a,span,label{
    font-family: $page-font;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:$primary-dark;
}