@mixin default-section {
    position:relative;
    min-width: 100%;
    z-index:1;
}

@mixin center-block {
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

@mixin button-size($padding-y, $padding-x, $font-size) {
    padding: $padding-y $padding-x;
    font-size:$font-size;
}

@mixin button-color($background-color, $color) {
    background-color: $background-color;
    color:$color;

    &:hover { 
        background-color: darken($background-color, 15%);
    }
}

@mixin brand($logomargin, $logowidth, $logoheight){

    .brand{
        min-width: 100%;

        &__link{
            display: inline-block;
        }
    
        &__logo{
            @if $logomargin == center {
                margin:auto;
            }

            @else if $logomargin  == left {
                margin-right:auto;
            }

            @else if $logomargin  == right {
                margin-left:auto;
            }

            width: $logowidth;
            height: $logoheight;

            &-gray{ fill: $dark;  }
    
            &-yellow{ fill: $brand-yellow; }
    
            &-blue{ fill: $brand-blue; }
    
            &-green{ fill: $brand-green; }
    
            &-red{ fill: $brand-red; }
        }
    }
}

@mixin menu($typeNav){
        
    .menu{
        display: inline-block;
        margin:1.5rem auto 0;
        width: 100%;
        max-width: 34rem;

        @if($typeNav == 'primaryNav'){
            padding-top:0.5rem;
        }

        &__list{
            padding:0;
            text-align: center;
        }

        &__item{
            display: inline;
            position: relative;
            margin: 0 0.5625rem;
        }
        
        &__link{
            padding: 0.25rem 0.75rem;
            width:100%;
            transition: $fast-transition;
            font-size:$font-size-extra-normal;
            font-weight: $font-weight-medium;
            letter-spacing: $letter-spacing-normal;
            color: $light-dark;

            &::after{
                display: inline-block;
                position: absolute;
                bottom:0;
                left:50%;
                content: '';
                width:100%;
                height: 0.3rem;
                background-color: transparent;
                transform: translate(-50%, 1rem);
                transition: $fast-transition;
            }
        }

        &__item:nth-child(1) .menu__link:hover{
            color: $brand-green;

            &::after{
                background-color:$brand-green;
            }
        }

        &__item:nth-child(2) .menu__link:hover{
            color: $brand-yellow;

            &::after{
                background-color:$brand-yellow;
            }
        }

        &__item:nth-child(3) .menu__link:hover{
            color: $brand-green;

            &::after{
                background-color:$brand-green;
            }
        }

        &__item:nth-child(4) .menu__link:hover{
            color: $brand-yellow;

            &::after{
                background-color:$brand-yellow;
            }
        }
    }
}

@mixin search($typeNav){
        
    .search{

        @if($typeNav == 'headerNav'){
            position: absolute;
            right:0;
            top:0.8rem;
        }
        text-align: right;

        &__open{
            display: block;
            padding: 1rem;
            
            .material-symbols-outlined{
                color: $light-dark;
            }
        }
    }
}