
$page-font: 'Roboto', sans-serif;

$brand-red:#ff3062;
$brand-yellow:#ffbf73;
$brand-blue:#2f98f7;
$brand-green:#1ec177;

$primary-dark: #4f5459;
$primary-white: #ffffff;
$light-silver: #ebebeb;

$font-size-small: .75rem;
$font-size-normal: 1rem;
$font-size-big: 2rem;
$font-size-huge: 4rem;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
