

$page-font: 'Roboto', sans-serif;

$brand-red:#ff3062;
$brand-yellow:#ffbf73;
$brand-blue:#2f98f7;
$brand-green:#1ec177;
$brand-purple:#5705cd;

$dark: #424242;
$light-dark: #5f6368;
$white: #ffffff;
$light-silver: #ebebeb;

$font-size-huge: 3.25rem;
$font-size-big: 1.8rem;
$font-size-extra-normal: 1.125rem;
$font-size-normal: 1rem;
$font-size-small: 0.925rem;
$font-size-extra-small: 0.75rem;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-big:3rem;
$line-height-extra-normal:2.25rem;
$line-height-normal:2rem;

$letter-spacing-normal:0.00625rem;

$fast-transition:0.15s ease-in-out;
