
// Abstracts
@import 'abstracts/variables';
@import 'abstracts/typography';
@import 'abstracts/mixins';

// Base
@import 'base/reset';

// Components
@import 'components/buttons';
@import 'components/forms';

// Fonts
@import 'fonts/fonts';

// Layout
@import 'layout/navigation';
@import 'layout/footer';

// Pages
@import 'pages/index';
@import 'pages/contact';
@import 'pages/about';
@import 'pages/privacy';