.article{
    &-head{
        padding: 6rem 0 6rem;

        &__info{
            &-category{
                display: inline-block;
                padding: 0.35rem 1rem;
                border: 2px solid $brand-green;
                font-weight: $font-weight-medium;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 0.75rem;
                color:$brand-green;
            }

            &-caption{
                margin-left: 3rem;
                font-size:$font-size-normal;
                font-weight: $font-weight-medium;
                color: $light-dark;

                &:first-child{
                    margin-left: 0rem;
                }
            }
        }

        &__header{
            margin-top:3.5rem;

            &-title{
                margin-bottom: 2.5rem;
                color:$dark;
            }

            &-subtitle{
                font-weight: $font-weight-regular;
                font-size:$font-size-average;
                color:$light-dark;
            }
        }

        &__social{
            display: flex;
            margin-top:3.5rem;

            &-item{
                display: block;
                position: relative;
                margin-left: 1.5rem;
                width: 3.375rem;
                height: 3.375rem;
                border: 1px solid $light-dark;
                border-radius: 100%;

                &:first-child{
                    margin-left: 0rem;
                }
            }

            &-icon{
                display: block;
                position: absolute;
                width:1.5rem;
                height: 1.5rem;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
                fill: $light-dark;
            }
        }
    }

    &-graphics{
        position: relative;
        min-width: 100%;

        &__artwork{
            margin: auto;
        }
    }

    &-body{
        padding: 3rem 0 3rem;

        &__inner{
            margin: auto;
            max-width: 1000px;
        }
    }
}