//
// Forms styles
//

.form{

    &__group{
        position: relative;
        margin-bottom:2rem;
    }

    &__input, &__textarea{
        padding: 1.15rem 1.5rem;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $light-silver;
        font-size:$font-size-normal;
        outline: none;

        &:focus, &:active{
            border: 1px solid $brand-purple !important;
        }
    }

    &__label {
        display: block;
        padding-bottom: 0.75rem;
        color: $dark;
        font-weight: $font-weight-regular;
        letter-spacing: 0;
    }

    &__icon{
        position:absolute; 
        transform: translate(0.85rem, 1.1rem);
        fill:$light-dark;
    }
}