
  .footer {
    @include default-section;
    border-top:1px solid $light-silver;

    &__block{
        padding:1rem 0 1rem;
    }

    &__inner{
        display: grid;
        grid-column-gap: 5rem;
        grid-template-columns: 1.1fr .8fr .8fr;
    }

    &__box{
        padding:3rem 0 3rem;
    }

    &__about, &__header{
        &-title{
            color: $dark;
            font-weight: $font-weight-medium;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }

        &-desc{
            color: $light-dark;
        }
    }

    &__list{
        margin:0;
        padding:0;

        &--copyright{
            display: inline;

            .footer__item{
                display: inline-block;

                &:nth-child(1){
                    margin-right: 2rem;
                }
            }
        }
    }

    &__item{
        margin-bottom:2rem;  
    }

    &__link{
        text-decoration: none;
        color: $light-dark;
    }

    &__copyright{
        display: flex;
        margin-top:1rem;
        justify-content: space-between;
        min-width: 100%;
        color: $light-dark;
    }
}