
.navigation{
    @include default-section;

    &_primary{
        min-height: 67.5px;
        border-bottom:1px solid $light-silver;
        background-color:$white;
        z-index:100;
    
        &__block{
            display: grid;
            grid-template-columns: 0.25fr 1fr 0.25fr;
            align-items: center;
            padding:0.25rem 0 0.25rem;
        }
    
        &__brand{
            @include brand(left,9.3125rem, 1.625rem);
        }
    
        &__menu{
            @include menu('primaryNav');
        }

        &__search-container{
            padding:0.25rem 0;
            margin: auto;
            width: 30rem;
        }

        &__search{
            margin-left: auto;
            @include search('primaryNav');
        }

        &__form{
            display: flex;
        }
    }

    &_header{
        background-color:$white;
        z-index:100;

        &__block{
            padding-top:4rem;
        }

        &__brand{
            @include brand(center, 17.25rem, 3rem);
        }

        &__wrapper{
            display: flex;
            align-items: center;
            position: relative;
            padding:0.25rem 0;

            @include menu('headerNav');

            @include search('headerNav');
        }

        &__search-container{
            padding:0.25rem 0;
            margin: auto;
            width: 30rem;
        }

        &__search{
            margin-left: auto;
            @include search('primaryNav');
        }

        &__form{
            display: flex;
        }
    }

    &_account{
        min-height: 67.5px;
        border-bottom:1px solid $light-silver;
        background-color:$white;
        z-index:100;
    
        &__block{
            display: grid;
            padding: 0 3rem;
            grid-template-columns: 0.25fr 1fr 0.25fr;
            align-items: center;
            min-height: 67.5px;
        }
    
        &__brand{
            @include brand(left,9.3125rem, 1.625rem);
        }
    
        &__menu{
            @include menu('primaryNav');
        }

    }
}


.search-lightbox{
    display: block;
    position: fixed;
    min-height: 100%;
    width:100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    transition: opacity .15s cubic-bezier(.4,0,.2,1);
    z-index:99;
}
