
.navigation{
    @include default-section;

    &_primary{
        border-bottom:1px solid $light-silver;
        background-color:$white;
        z-index:100;
    
        &__block{
            display: grid;
            grid-template-columns: 0.25fr 1fr 0.25fr;
            align-items: center;
            padding:1.1rem 0 1.1rem;
        }
    
        &__brand{
            @include brand(left,149px, 26px);
        }
    
        &__menu{
            @include menu;
    
            @include search;
        }
    }

    &_header{
        &__block{
            padding-top:4rem;
        }

        &__brand{
            @include brand(center, 17.25rem, 3rem);
        }

        &__wrapper{
            display: flex;

            @include menu;

            @include search;
        }
    }
}
