.sidenav{
    position: fixed;
    width: 15%;
    min-height: 100vh;
    background-color:$white;
    border-right: 1px solid $light-silver;
    z-index:100;

    &__block{
        padding: 2rem 0 6rem;
    }

    &__list &__item{
        padding: 0.75rem 0rem;
    }

    &__link{
        font-size:$font-size-normal;
        font-weight: $font-weight-regular;
        letter-spacing: $letter-spacing-normal;
        color: $dark;
    }
}