.sidenav{
    position: fixed;
    width: 15%;
    min-height: 100vh;
    background-color:$white;
    border-right: 1px solid $light-silver;
    z-index:100;

    &__block{
        padding: 6rem 0 6rem;
    }

    &__list &__item{
        padding: 1rem 0rem;
    }
}