

.contact_banner{
    @include default-section;
    background-color:$brand-green;
    background-image: url(~assets/images/bg-figures.png);

    &__block{
        padding: 3rem 0 12rem;
    }

    &__header{
        margin:auto;
        max-width: 40rem;
        padding-bottom: 3rem;
        text-align: center;

        &-title{
            color: $white;
            font-size: 2.75rem;
            font-weight: $font-weight-bold;
            line-height: 5rem;
            margin-bottom: 0.5rem;
        }

        &-desc{
            color: $white;
            font-size: 1.25rem;
            font-weight: $font-weight-regular;
            line-height: 2.35rem;
        }
    }
}


.contact_me{
    @include default-section;

    &__inner{
        background-color: $white;
        border: 1px solid $light-silver;
        border-radius: 0.5rem;
        margin: auto;
        max-width: 40rem;
        padding: 4rem;
        text-align: center;
        transform: translateY(-12rem);
    }

    &__form{
        grid-row-gap: 2.75rem;
        align-items: center;
        display: block;
        display: grid;
        text-align: left;

        &-inline{
            display: grid;
            grid-column-gap: calc(2rem - 1px);
            grid-template-columns: repeat(2,1fr);

        }

        &-recaptcha{
            width: 200px;
            height: 65px;
        }

        &-box{
            text-align: right;
        }
    }
}