//
// Login styles
//

.login{
    @include default-section;

    &__block{
        padding: 6rem 0 6rem;
        height: 100vh;
    }

    &__brand{
        @include brand(left, 149px, 26px);
    }

    &__inner{
        @include center-block;
        padding: 4rem 2rem;
        width:27rem;
        height:31.25rem;
        border: 1px solid $light-silver;
        border-radius: 0.5rem;
    }

    &__caption{
        display: block;
        margin-top:1.5rem;
        color: $light-dark;
    }

    &__form{
        margin-top:2rem;

        &-input{
            padding-left: 3.75rem;
        }

        &-btn{
            padding-top:1rem;
            text-align: right;
        }
    }
}
